
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: radial-gradient(circle, rgba(209, 213, 227, 0.6) 0%, rgba(202, 222, 204, 0.5) 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-fields {
  background: linear-gradient(90deg, rgba(110, 223, 155, 0.4) 0%, rgba(130, 211, 232, 0.6) 100%);
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(247, 242, 242, 0.8);
}

.user-icon {
  color: white;
  font-size: 40px;
  margin: 0 auto 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
}

.name, .password {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.name i, .password i {
  margin-right: 10px;
}

.name input, .password input {
  width: 100%;
  border: none;
  outline: none;
}

.login-btn button, .forget-password a, .sign-up a {
  display: block;
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  background-color: #d0b371;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  border: white;
}

.login-btn button:hover, .forget-password a:hover, .sign-up a:hover {
  background-color: black;
}

.forget-password-sign-up-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-top: 10px;
}

/* Responsive styling */
@media (max-width: 768px) {
 
  .forget-password-sign-up-container {
    flex-direction: column;
  }

  .forget-password a, .sign-up a {
    width: 100%; 
    margin: 0;
  }
}

button, input, optgroup, select, textarea {
  line-height: normal;
}
.container{
  max-width: 100%;
}


