<footer class="footer">
    <div class="container">
    <div class="footer-content">
    
        <div class="footer-section">
        <h3>Get In Touch</h3>
        <p><i class="fas fa-map-marker-alt"></i> Plot No. 3, 3rd Floor, Sri Sai Enclave,</p>
        Opp: Tata Service Center, Old Bowenpally, HYDERABAD, INDIA
        <p><i class="fas fa-phone-alt"></i> 00000000000</p>
        <p><i class="fas fa-envelope"></i> info.gvrinfosystem.com</p>
        <div class="social-icons">
            <a routerLink="#"><i class="fab fa-twitter"></i></a>
            <a routerLink="#"><i class="fab fa-facebook-f"></i></a>
            <a routerLink="#"><i class="fab fa-youtube"></i></a>
            <a routerLink="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        </div>

    
        <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
            <li><a routerLink="">About Us</a></li>
            <li><a routerLink="">Contact Us</a></li>
            <li><a routerLink="#">Home</a></li>
        
        </ul>
        </div>

    
        <div class="footer-section">
        <h3>Photo Gallery</h3>
        <div class="photo-gallery">
            <img src="../assets/images1/about US.png" alt="">
            <img src="../assets/images1/about US.png" alt="">
            <!-- <img src="../assets/images1/about US.png" alt="">
            <img src="../assets/images1/about US.png" alt="">
            <img src="../assets/images1/about US.png" alt="">
            <img src="../assets/images1/about US.png" alt=""> -->
        </div>
        </div>

        
        <div class="footer-section">
        <h3>Newsletter</h3>
        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
        <div class="newsletter">
            <input type="email" placeholder="Your email">
            <button>SignUp</button>
        </div>
        </div>
    </div>

    
    <div class="footer-bottom">
        <p>© gvrinfosystems, All Right Reserved. Designed By </p>
        <ul>
        <!-- <li><a routerLink="#">Home</a></li> -->
        <!-- <li><a routerLink="#">Cookies</a></li>
        <li><a routerLink="#">Help</a></li>
        <li><a routerLink="#">FAQs</a></li> -->
        </ul>
    </div>
    </div>
</footer>