<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class="h-100" src="assets/images/Logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <ng-container *ngFor="let navItem of navitems;">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="navItem.navurl" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{navItem.navname}}</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>
<!-- /* @import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
"node_modules/@fortawesome/fontawesome-free/css/all.css" */ -->