<form>
  <div class="container">
    <h4>Register</h4>
    <div class="input-row">
      <div>
        <div class="input-icon">
          <i class="fa fa-user"></i> 
          <input type="text" name="username" placeholder="Enter Username" required>
        </div>
      </div>
      <div>
        <div class="input-icon">
          <i class="fa fa-envelope"></i> 
          <input type="email" name="email" placeholder="Enter Email" required>
        </div>
      </div>
    </div>
    <div class="input-row">
      <div>
        <div class="input-icon">
          <i class="fa fa-lock"></i> 
          <input type="password" name="psw" placeholder="Enter Password" required>
        </div>
      </div>
      <div>
        <div class="input-icon">
          <i class="fa fa-phone"></i> 
          <input type="tel" name="phone" placeholder="Mobile Number" required>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <button type="submit" class="btn">Sign Up</button>
    </div>
    <div class="links">
      <span>If you have already registered please sign in</span>
      <!-- <a routerLink="/login">LogIn</a> -->
       <button type="login" routerLink="/login" class="btn">LogIn</button>
    </div>
  </div>
</form>
